@model IEnumerable<ProyectoCompra.Models.Compra>

@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        $("#Filtrando").click(function () {
            var parametros = new Object();
            parametros.filtrar = $("#filtra").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify(parametros),
                url: "@Url.Action("ListarFiltrado", "Compras")",
                contentType: 'application/json;',
                dataType: "json",
                async: true,
                success: function (result) {
                    alert("Holas");
                    alert(result.resultado);
                }
            })
        });
    });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Carrito de Compra", "Nuevo")
</p>
<div class="form-group">
    <p class="control-label col-md-2">Filtrado: </p>
    <div class="col-md-2">
        <input type="text" id="filtra" />
    </div>
    <div class="col-md-6"> 
        <a href="#" id="Filtrando" class="btn btn-default"> Filtrar </a>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libro.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.apellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrupoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Libro.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.apellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompraID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompraID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompraID })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-1.10.2.min.js")
}

