@model IEnumerable<ProyectoCompra.Models.Compra>

@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        $("#Filtrando").click(function () {
            var parametros = new Object();
            parametros.filtrar = $("#filtra").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify(parametros),
                url: "@Url.Action("ListarFiltrado", "Compras")",
                contentType: 'application/json;',
                dataType: "json",
                async: true,
                success: function (result) {
                    var compras = result.resultado;
                    var libros = result.lib;
                    var pers = result.per;
                    $("#tabla tr").remove();
                    var fila = "<tr> <th>  nombre </th> <th> apellidoPaterno </th>  <th> cantidad </th> <th> GrupoID </th> <th></th> </tr>";
                    for (var i = 0 ; i < compras.length ; i++) {
                        fila += " <tr>";
                        fila += "<td> " + libros[i].nombre + " </td>";
                        fila += "<td> " + pers[i].apellidoPaterno + " </td>";
                        fila += "<td> " + compras[i].cantidad + " </td>";
                        fila += "<td> " + compras[i].GrupoID + " </td>";
                        fila += "<td> <a href='/Compras/Edit/" + compras[i].CompraID + "'>Edit</a> | ";
                        fila += " <a href='/Compras/Details/" + compras[i].CompraID + "'>Details</a> | ";
                        fila += " <a href='/Compras/Delete/" + compras[i].CompraID + "'>Delete</a> </td>";
                        fila += "</tr> ";
                    }
                    $("#tabla").append(fila);
                }
            })
        });
    });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Carrito de Compra", "Nuevo")
</p>
<div class="form-group">
    <p class="control-label col-md-2">Filtrado: </p>
    <div class="col-md-2">
        <input type="text" id="filtra" />
    </div>
    <div class="col-md-6"> 
        <a href="#" id="Filtrando" class="btn btn-default"> Filtrar </a>
    </div>
</div>
<table class="table" id="tabla">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libro.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.apellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrupoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Libro.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.apellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompraID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompraID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompraID })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-1.10.2.min.js")
}

