@model ProyectoCompra.Models.Compra

@{
    ViewBag.Title = "Nuevo";

    List<SelectListItem> oListSelectItemLibro = new List<SelectListItem>();
    oListSelectItemLibro.Add(new SelectListItem { Text = "Todos...", Value = "0", Selected = true });
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#CategoriaID").change(function () {
            var parametros = new Object();
            parametros.CategoriaID = $("#CategoriaID").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify(parametros),
                url: "@Url.Action("ListarCategoriaById", "Compras")",
                contentType: 'application/json;',
                dataType: "json",
                async: true,
                success: function (result) {
                    var libro = result.resultado;
                    var cantidad = libro.length;
                    $("#LibroID option").remove();
                    for(var i=0 ; i < cantidad ; i++)
                    {
                        var opcion = '<option value="' + libro[i].LibroID + '">' + libro[i].nombre + '</option>'
                        $("#LibroID").append(opcion);
                    }
                }
            })
        });

        $("#LibroID").change(function () {
            var parametros = new Object();
            parametros.LibroID = $("#LibroID").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify(parametros),
                url: "@Url.Action("ListarLibro", "Compras")",
                contentType: 'application/json;',
                dataType: "json",
                async: true,
                success: function (result) {
                    $("#Detalle p").remove();
                    var nombre = "<p> NOMBRE: " + result.resultado.nombre + "</p>";
                    var precio = "<p> PRECIO: " + result.resultado.precio + "</p>";
                    var stock = "<p> STOCK: " + result.resultado.stock + "</p>";
                    $("#Detalle").append(nombre);
                    $("#Detalle").append(precio);
                    $("#Detalle").append(stock);
                }
            })
        });

        $("#Agregar").click(function () {
            var parametros = new Object();
            parametros.LibroID = $("#LibroID").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify(parametros),
                url: "@Url.Action("ListarLibro", "Compras")",
                contentType: 'application/json;',
                dataType: "json",
                async: true,
                success: function (result) {
                    var fila = "<tr>";
                    fila += "<td colspan='2' style='display:none;'>" + $("#LibroID").val() + "</td>";
                    fila += "<td colspan='2'>" + result.resultado.nombre + "</td>";
                    fila += "<td colspan='2'>" + result.resultado.precio + "</td>";
                    fila += "<td colspan='2'>" + $("#cantidad").val() + "</td>";
                    fila += "<td colspan='2'> <a href='#' class='eliminar btn btn-default'> Eliminar </a> </td>";
                    fila += "</tr>";
                    $("#tableame tbody").append(fila);
                    $("#cantidad").val("");
                    $("#Detalle p").remove();
                }
            })


        });

        $("#Nuevo").click(function () {

            var parametros = new Object();
            var cadena = "";
            var cantidades = "";

            $("#tableame tbody tr").find('td:eq(0)').each(function () {

                valor = $(this).html();
                cadena += valor + " ";
            })

            $("#tableame tbody tr").find('td:eq(3)').each(function () {

                valor = $(this).html();
                cantidades += valor + " ";
            })

            parametros.cadena = cadena;
            parametros.cantidades = cantidades;
            alert(cadena);
            $.ajax({
                type: "POST",
                data: JSON.stringify(parametros),
                url: "@Url.Action("Nuevo_Registro", "Compras")",
                contentType: 'application/json;',
                dataType: "json",
                async: true,
                success: function (result) {
                    $("#tableame tbody tr").remove();
                    $("#Detalle p").remove();
                    
                }
            })
        });

        $(document).on("click", ".eliminar", function (e) {
            alert("Entró");
            var fila = $(this);
            //alert(fila);
            var parent = fila.parent().parent();
            parent.remove();
        });

    });
</script>



<h2>Nuevo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Compra</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Libro.Categoria, "CategoriaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoriaID", String.Empty)
                @Html.ValidationMessageFor(model => model.Libro.Categoria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Libro.LibroID, "LibroID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LibroID", oListSelectItemLibro)
            </div>
        </div>
        
        <div class="form-group">
            <p class="control-label col-md-2">Detalle de la pelicula </p>
            <div class="col-md-10" id="Detalle">

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad)
                @Html.ValidationMessageFor(model => model.cantidad)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" id="Agregar" class="btn btn-default"> Agregar</a>
                <!--<input type="submit"  id="Agregar" value="Agregar" class="btn btn-default" />-->
            </div>
        </div>

        <div class="form-group">
            <table id="tableame" class="table-responsive">
                <thead>
                    <tr>
                        <th colspan="2">NOMBRE</th>
                        <th colspan="2">PRECIO</th>
                        <th colspan="2">STOCK</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="#" id="Nuevo" class="btn btn-default"> Guardar</a>
                    <!--<input type="submit" id="Nuevo" value="Nuevo" class="btn btn-default" />-->
                </div>
            </div>

        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-1.10.2.min.js")
}


