@model ProyectoCompra.Models.Compra

@{
    ViewBag.Title = "Nuevo";

    List<SelectListItem> oListSelectItemLibro = new List<SelectListItem>();
    oListSelectItemLibro.Add(new SelectListItem { Text = "Todos...", Value = "0", Selected = true });
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#CategoriaID").change(function () {
            alert("Entro");
            var parametros = new Object();
            parametros.CategoriaID = $("#CategoriaID").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify(parametros),
                url: "@Url.Action("ListarCategoriaById", "Compras")",
                contentType: 'application/json;',
                dataType: "json",
                async: true,
                success: function (result) {
                    alert("Me vine");
                    var libro = result.resultado;
                    var cantidad = libro.length;
                    alert(result.resultado);
                    alert(cantidad);
                    $("#LibroID option").remove();
                    for(var i=0 ; i < cantidad ; i++)
                    {
                        var opcion = '<option value="' + libro[i].LibroID + '">' + libro[i].nombre + '</option>'
                        $("#LibroID").append(opcion);
                    }
                }
            })
        });

        $("#LibroID").change(function () {
            alert("Entro");
            var parametros = new Object();
            parametros.LibroID = $("#LibroID").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify(parametros),
                url: "@Url.Action("ListarLibro", "Compras")",
                contentType: 'application/json;',
                dataType: "json",
                async: true,
                success: function (result) {
                    alert(result.Success);
                    alert(result.resultado);
                    $("#Detalle").html(result.resultado);
                }
            })
        });
    });
</script>



<h2>Nuevo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Compra</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Libro.Categoria, "CategoriaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoriaID", String.Empty)
                @Html.ValidationMessageFor(model => model.Libro.Categoria)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("LibroID", oListSelectItemLibro)
            </div>
        </div>
        
        <div class="form-group" id="Detalle">

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad)
                @Html.ValidationMessageFor(model => model.cantidad)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="Nuevo" value="Nuevo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-1.10.2.min.js")
}


